<%= cmsable_assets %>
<div id="cmsable_control">
  <a class="cmsable_edit">Edit Mode</a>
  <a class="cmsable_save" data-token="<%= form_authenticity_token %>">Save Changes</a>
  <span class="cmsable_processing">Processing...</span>
</div>
