<!DOCTYPE html>
<html>
<head>
  <title>Cmsable</title>
  <%= stylesheet_link_tag    "cmsable/application", :media => "all" %>
  <%= javascript_include_tag "cmsable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
